<%= form_with(model: challenge, local: true) do |form| %>
  <% if challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
        <% challenge.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<table class="table ">
  <thead class="bg-dark text-white">
    <tr>
    
      <th scope="col" class="text-center py-3"><%= form.label :title %></th>
      <th scope="col" class="text-center"><%= form.label :description %></th>
      <th scope="col" class="text-center"> <%= form.label :tags %> </th>
      <th colspan=1></th>
    </tr>
  </thead>
  <tbody >
    <tr >
    
      <td class="text-center "style="padding:50px;"><%= form.text_field :title %></td>
      <td class="text-center" style="padding:50px;"><%= form.text_field :description %></td>
      

      <td class="text-center" style="padding:50px;"> <%= form.select :tags, [ 'Array','Bitmasking','BST','DP','Graph','Greedy','Recursion','Searching','Sorting','String','Tree'  ], :prompt => 'Select One' %></td>
        <div class="field">
   </div>

       <div class="actions">
   <td style="padding:50px;"> <%= form.submit class:"btn btn-sm bg-primary text-white"%></td>
  </div>
    </tr>
    
  </tbody>
</table>
  

<% end %>
