<div class="container">
<%= render 'form', challenge: @challenge%>



  <div class=" row bg-primary text-white">
   <div class="col-sm-8 mt-2">  <h3>Challenges</h3></div>
     <div class="col-sm-4 mt-3">
<%= form_tag challenges_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil , class:" btn btn-sm bg-dark text-white"%>
  </p>
  

<% end %>
</div>
  </div>
  <div class="">
  <table class="table " id="my-table">
  <thead class="">
    <tr class="bg-dark text-white text-center">
     <th scope="col"></th>
        <th scope="col" class="text-white"><%= sortable "title" %></th>
      <th scope="col" class="text-white"><%= sortable "description" %></th>
      <th scope="col" class="text-white"><%= sortable "tags"%></th>
      <th scope="col" class="text-white"><%= sortable "created_at"%></th>

      <th scope="col">Created by</th>
      
      <th scope="col"> Upvote</th>
      
      <th scope="col">#</th>
      <th scope="col">Colab</th>
      <th scope="col">
      Colaborators list
      </th>
      <th scope="col">#</th>
    </tr>
  </thead>

  <tbody>
  <br>
  <% @var=1%>
    <% @challenges.each do |challenge| %>
      <tr class="text-center">
       <th scope="row"><%=@var%></th>
       <%@var=@var+1%>
       
        <td><%= challenge.title.capitalize  %></td>
        <td><%= challenge.description.capitalize  %></td>
        <td><%= challenge.tags  %></td>
          <%@u=User.find_by(id: challenge.user_id)%>
  <td><%= challenge.created_at.strftime("%Y-%m-%d") %></td>

  <td><%= @u.employee_id %></td>
        
        
        <td>
        <%= challenge.get_upvotes.size%>
        </td>
        <td><%if current_user.id!=challenge.user_id%>
        <% if !current_user.voted_up_on? challenge %>
        <%= link_to  "", upvote_challenge_path(challenge), method: :put , class:"fa fa-plus",style:'font-size:30px;'%>
        <%else%>
        <p class="text-success"> <i class="fa fa-check-square-o" style='font-size:30px;'></i></p>
        <%end%>
        <%else%>
    <a class="text-danger"><i class='fa fa-ban' style='font-size:30px;'></i></a>
        <%end%></td>
        <td> 
        <%if current_user.id!=challenge.user_id%>
        <% if !challenge.followed_by?(current_user) %>
    <%= link_to "", follow_challenge_path(challenge), class: " fa fa-handshake-o text-primary",style:'font-size:30px;'%>
    <%else%>
    <p class="text-success"> <i class="fa fa-check-circle" style='font-size:30px;'></i></p>
  <% end %></td>
  <%else%>

 <a class="text-danger"><i class='fa fa-ban' style='font-size:30px;'></i></a>
    
  <%end%>
   <td>
 <% allfollows = challenge.followers %>
<%allfollows.each do |item|%>
<%=item.employee_id%>
<br>
<%end%>
</td>
        <td><%= link_to 'Show', challenge,class:"btn btn-sm bg-dark text-white" %></td>
        <% link_to 'Edit', edit_challenge_path(challenge) %>
        <% link_to 'Destroy', challenge, method: :delete, data: { confirm: 'Are you sure?' } %>
     
      </tr>

  </tbody>
    <% end %>
    

</table>
<%= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
<%= will_paginate @challenges %>
  </div>
</div>


<br>
<br>
<br>
<br>


</div>

