<div class="container">
<div class="card text-center">
  <div class="card-header">
    <h3>Challenge<h3>
  </div>
  <div class="card-body">
   <p>
  <strong>Title:</strong>
  <%= @challenge.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @challenge.description %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @challenge.tags %>
</p>

  </div>
  <div class="card-footer text-muted">
<p>
<h4>Collaborator list</h4>
<hr>
 <% allfollows = @challenge.followers %>
<%allfollows.each do |item|%>
<%=item.employee_id%>
<br>
<%end%>

</p>
  </div>

<%= link_to 'Edit', edit_challenge_path(@challenge) %> <br>
<%= link_to 'Back', challenges_path %>
<%= button_to 'Destroy', challenge_path(@challenge), method: :delete %>
 
 </div>


</div>
<br>
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br>
