<p id="notice"><%= notice %></p>
<div class="container">
<%= render 'form'%>
<br>
<br>
<br>
<hr>
<div class="card">
  <div class="card-header">
     <h1>Challenges</h1>

     <%= link_to "Normal" , challenges_path ,class:"btn-primary"%>
  </div>
  <div class="card-body">
  <table class="table table-bordered">
  <thead>
    <tr>
     <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Tags</th>
      <th scope="col">Created by</th>
      <th scope="col">created at</th>
      <th scope="col">Upvote</th>
      <th scope="col">#</th>
      <th scope="col">Colab</th>
      <th colspan="3"></th>
      <th scope="col">List</th>
    </tr>
  </thead>

  <tbody>
  <% @var=1%>
    <% @challenges.each do |challenge| %>
      <tr>
       <th scope="row"><%=@var%></th>
       <%@var=@var+1%>
        <td><%= challenge.title %></td>
        <td><%= challenge.description %></td>
        <td><%= challenge.tags %></td>
          <%@u=User.find_by(id: challenge.user_id)%>
  <td><%= @u.employee_id %></td>
  <td><%= challenge.created_at %></td>
        
        
        <td>
        <%= challenge.get_upvotes.size%>
        </td>
        <td><%if current_user.id!=challenge.user_id%>
        <%= link_to  "+", upvote_challenge_path(challenge), method: :put %>
        <%else%>
    <button> NA</button>
        <%end%></td>
        <td> 
        <%if current_user.id!=challenge.user_id%>
        <% if !challenge.followed_by?(current_user) %>
    <%= link_to "Colaborate", follow_challenge_path(challenge), class: "btn btn-success btn-outline btn-sm"%>
    <%else%>
    <button> colaborated</button>
  <% end %></td>
  <%else%>
  <button> NA</button>
  <%end%>
        <td><%= link_to 'Show', challenge %></td>
        <td><%= link_to 'Edit', edit_challenge_path(challenge) %></td>
        <td><%= link_to 'Destroy', challenge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
 <td>
 <% allfollows = challenge.followers %>
<%allfollows.each do |item|%>
<%=item.employee_id%>
<br>
<%end%>
</td>     
      </tr>

  </tbody>
    <% end %>
    

</table>

  </div>
</div>


<br>

<%= link_to 'New Challenge', new_challenge_path %>
</div>